body {
    color: #999999;
    line-height: 1.5em;
    font-size: 16px;
}

h1, h2, h3 {
    color: #317eac;
}

.navbar {
    background-image: linear-gradient(#1c4587, #2a508e);
    background-color: #034482;
    border-radius: 0;
}

.navbar, .navbar a {
    color: #ffffff !important;
}

#navLogo {
    padding: 7px 15px !important;
}

#fileUploads {
    margin-top: 50px;
}

#fileUploads form:not(:last-of-type) {
    margin-bottom: 25px;
}

#fileUploads form input {
    padding: 0;
}

@media (min-width: 768px) {
    #fileUploads form {
        width: 61.8%; /* mobile = 100% */
    }
}
