#comparison  .title {
    display: block !important;
    font-size: 1.3em;
    margin-top: 15px;
}

#comparison > div > div > .p {
    display: block !important;
    margin-bottom: 2px;
}

#comparison .xref {
    font-size: 0.7em;
    vertical-align: super;
}

#comparison .list-item {
    display: block !important;
    margin-bottom: 2px;
}

#comparison .list-item:before {
    content: "°";
}